/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.Googleapis.com/css2?family=Poppins:wgt@200;300;400;500;600&disply=swap');
*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: khaki;
}
.container{
	position: relative;
	max-width: 900px;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	margin: 0 15px;
    background-color:white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.container header{
	position: relative;
	font-size: 20px;
	font-weight: 600;
	color: #db0707;

}
.container header::before{
    content: ;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #c2cbe4;
}
.container form{
	position: relative;
	margin-top: 16px;
	min-height: 490px;
	background-color: #fff;
}
.container form .details{
	margin-top: 30px;
}
.container form .title{
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	margin: 6px 0;
	color: #333;
}
.container form .fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
form .fields .input_field{
	display: flex;
	width: calc(100% / 2 - 15px);
	flex-direction: column;
	margin: 4px 0;
}
.input_field label{
   font-size: 12px;
   font-weight: 500; 
   color: #2e2e2e;
}
.input_field input{
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
    height: 42px;
    margin: 8px 0; 
}
.input_field input:is(:focus, :valid){
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input_field input[type='date']:valid{
	color: #333;
}
.container form button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	max-width: 200px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	background-color: #4070f4;
	border-radius: 5px;
	margin: 25px 0;
	transition: all 0.3s linear;
	cursor: pointer;

}
form button:hover{
	background-color: #265df2;
}
form button i{
	margin: 0 6px;
}
@media(max-width: 750px){
	.container form{
		overflow-y: scroll;
	}
    .container form::-webkit-scrollbar{
    	display: none;
    }
    form .fields .input-field{
    	width: calc(100% / 2 - 15px);
    }

}
@media(max-width: 550px){
	form .fields .input-field{
		width: 100%;
	}
}

.select select,
		.select option {
			border: none;
			outline: none;
			font-size: 18px;
			padding: 5px 55px 5px 5px;
			background-color: slategray;
			color: white;
			-webkit-appearance: none; /* for Safari */
			margin: 0;
			border-radius: 0;
					}
		.select {
			position: relative;
			display: inline-block;

		}
		.select .arrow {
			position: absolute;

			height: 100%;
			width: 25px;
			top: 0;
			right: 0;
			background-color: dimgray;
			pointer-events: none;
		}
		.select select:focus + .arrow,
		.select select:hover + .arrow{
			background-color: dodgerblue;
		}
		.select .arrow::before,
		.select .arrow::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			left: 5px;
		}
		.select .arrow::before {
			border-color: transparent transparent white transparent;
			border-width: 0 8px 8px 8px;
			top: 20%;
		}
		.select .arrow::after {
			border-color: white transparent transparent transparent;
			border-width: 8px 8px 0 8px;
			bottom: 20%;
		}